<div id="clouds">
    <div class="cloud x1"></div>
    <!-- Time for multiple clouds to dance around -->
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
</div>
<div class="background-active">
    <header>
        <h1 class="animated">{{title}}</h1>
    </header>
    <keyboard-layout></keyboard-layout>
    <footer>
        <span></span><span>Use your computer keyboard to play music!</span><span><a href="http://www.angularattack.com/entries/635-simplicity">Angular Attack 2017</a></span>
    </footer>
</div>