.keyboard{
    display: flex;
    flex: 8;
    justify-content: center;
    width: 682px;
    height: 234px;
    background-color: #74261d;
    box-shadow:inset 0px 62px 133px 6px rgba(0, 0, 0, 0.7);
}
.keyboard-wrapper{
    position: absolute;
    top: 266px;
    left: 220px;
}
.keyboard-image{
    background: url("../../assets/img/piano_case.png") no-repeat top left;
    height:501px;
    width:944px;
    margin: 0 auto;
    position:relative;
}
.note {
    flex: 1;
    display: inline-flex;
    align-items: center;
    border-radius: 2px;
}
.white{
    flex-flow: column;
    justify-content: flex-end;
    color: #474747;
    background-color: #ffffff;
    padding-bottom: 1%;
    box-shadow:inset 0px -1px 4px 1px rgba(0,0,0,0.5);
    background-color: #d9d3c0;
}
.black {
    justify-content: center;
    position: relative;
    height: 66%;
    background-color: #331b19;
    color: white;
    width: 8%;
    margin: 0 -3%; 
    box-shadow:inset 0 2px 8px 4px rgba(0,0,0,0.7),inset 0 -10px 6px 3px rgba(69,30,30,1);
}  
.pressed {
    border-top:3px solid gray
}
